[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-allauth = "*"
yfinance = "*"
uvicorn = "*"
redis = "*"
celery = "*"
selenium = "==3.141.0"
pipreqs = "*"
webdriver-manager = "==3.2.2"
requests = "==2.25.1"
docker = "*"
dj-database-url = "==0.5.0"

[dev-packages]

[requires]
python_version = "3.8"

[packages.pylint-django]
extras = [ "with-django",]
