{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block content %}
    <h2 class="text-center mt-5 mb-2 p-5">CONTACT</h2>
    <div class="d-flex justify-content-center">
        <div class="w-25">
            <h6 class="text-center mb-4">by Denis Skulovic</h6>
            <p class="text-center">+972-58-5615800</p>
            <p class="text-center">dskulovich@gmail.com</p>
            <p class="text-center">Tel Aviv, Israel</p>
        </div>
    </div>
{% endblock content %}
