<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>iziMoney</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="{% url 'mainpage' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'playground' %}">Playground</a>
        </li>
        <li>
            <a href="{% url 'requests' mode="PUBLIC" %}">Requests</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

</nav>
