<div class="quote-summary">
    <div>
        <table>
            <tbody>
                <tr>
                    <td class="text-left">Previous Close</td>
                    <td class="text-right" id="previousClose">{{data.previousClose}}</td>
                </tr>
                <tr>
                    <td class="text-left">Open</td>
                    <td class="text-right" id="open">{{data.open}}</td>
                </tr>
                <tr>
                    <td class="text-left">Bid</td>
                    <td class="text-right" id="bid">{{data.bid}}</td>
                </tr>
                <tr>
                    <td class="text-left">Ask</td>
                    <td class="text-right" id="ask">{{data.ask}}</td>
                </tr>
                <tr>
                    <td class="text-left">Profit Margins</td>
                    <td class="text-right" id="profitMargins">{{data.profitMargins}}</td>
                </tr>
                <tr>
                    <td class="text-left">Volume</td>
                    <td class="text-right" id="volume">{{data.volume}}</td>
                </tr>
                <tr>
                    <td class="text-left">Avg. Volume</td>
                    <td class="text-right" id="averageVolume">{{data.averageVolume}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table>
            <tbody>
                <tr>
                    <td class="text-left">Market Cap</td>
                    <td class="text-right" id="marketCap">{{data.marketCap}}</td>
                </tr>
                <tr>
                    <td class="text-left">Beta (3Y Monthly)</td>
                    <td class="text-right" id="beta3Year">{{data.beta3Year}}</td>
                </tr>
                <tr>
                    <td class="text-left">Forward PE</td>
                    <td class="text-right" id="forwardPE">{{data.forwardPE}}</td>
                </tr>
                <tr>
                    <td class="text-left">EPS (TTM)</td>
                    <td class="text-right" id="trailingEps">{{data.trailingEps}}</td>
                </tr>
                <tr>
                    <td class="text-left">YTD Return</td>
                    <td class="text-right" id="ytdReturn">{{data.ytdReturn}}</td>
                </tr>
                <tr>
                    <td class="text-left">Dividend Yield (TTM)</td>
                    <td class="text-right" id="trailingAnnualDividendYield">{{data.trailingAnnualDividendYield}}</td>
                </tr>
                <tr>
                    <td class="text-left">Ex-Dividend Date</td>
                    <td class="text-right" id="exDividendDate">{{data.exDividendDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>