{% extends 'base.html' %}



{% block content %}

    
    <h1>{{article.title}}</h1>
    <p>{{article.date}}</p>
    <p>{{article.link}}</p>
    <p>{{article.status}}</p>
    <div>Scraper: <span id="scraper_status"></span></div>
    <div>Model: <span id="model_status"></span></div>

    <div id='articles_text_container'>
            {% for i in range %}
                <div class='article_text_div' id='article_text_div_{{i}}' hidden>
                    <div id='article_text_{{i}}' hidden></div>
                    <span id='article_text_status_{{i}}' hidden>Empty</span>
                </div>
            {% endfor %}
    </div>
{% endblock content %}


{% block javascript %}
    <script>
    function refresh_article_status(){
        console.log('refresh_article_status activated')
        $.ajax({
            url:"{% url 'refresh_article_status' %}",
            type: 'POST',
            data: { article_pk: "{{article.pk}}"},
            dataType: 'json',
            success: (data) => {
                let scraper_status = data['scraper_status'];
                let model_status = data['model_status'];
                let statuses = data['statuses']

                document.getElementById('scraper_status').innerHTML = scraper_status
                document.getElementById('model_status').innerHTML = model_status

                let article_text;
                let article_text_status;
                for (i=0;i<statuses.length; i++){
                    article_text_status = document.getElementById(`article_text_status_${i}`).innerHTML;
                    if (statuses[i] != article_text_status){
                        load_article_text_content(i)
                        }            
                
                }
            }
        })
    }

    function article_load_initial_content(){
        console.log('article_load_initial_content activated')
        $.ajax({
            url:"{% url 'article_load_initial_content' %}",
            type: 'POST',
            data: { article_pk: "{{article.pk}}"},
            dataType: 'json',
            success: (texts_len) => {
                for (i=0; i<texts_len['texts_len']; i++) {
                    load_article_text_content(i)
                }
            }        
        })
    }

    function load_article_text_content(text_index){
        $.ajax({
            url:"{% url 'load_article_text_content' %}",
            type: 'POST',
            data: { text_index: text_index,
                    article_pk: "{{article.pk}}"},
            dataType: 'json',
            success: (data) => {
                let text_index = data.text_index;
                let text = data.text;
                let article_text_div = document.getElementById(`article_text_div_${text_index}`)

                text_elem = document.getElementById(`article_text_${text_index}`);
                text_elem.innerHTML = `<${text.tag}>${text.text}</${text.tag}>`;

                status_elem = document.getElementById(`article_text_status_${text_index}`)
                status_elem.innerHTML = `${text.status}`;

                try{text_elem.removeAttribute("hidden");}catch{}
                try{article_text_div.removeAttribute("hidden");}catch{}
            }
        })
    }

    $(document).ready(
        $(window).on("load", (e)=>{
            e.preventDefault();
            article_load_initial_content();
            setInterval(refresh_article_status, 2000);
        })
    )
    </script>
{% endblock javascript %}
