{% extends 'base.html' %}

{% block content %}
        
<h2 class='text-center mb-4'>PLAYGROUND</h2>

    <div class="row">
        <div class="col-md-2">
            <p>Start typing and the model will color the text based on its financial sentiment assessment.</p>
            <p>You could also copy-paste a piece on any article for instant analysis.</p>
            <div class="btn-group-vertical btn-block">
                <a id="example-1" class="btn text-white btn-primary">Example 1</a>
                <a id="example-2" class="btn text-white btn-primary">Example 2</a>
                <a id="example-3" class="btn text-white btn-primary">Example 3</a>
            </div>
        </div>
        <div class="col-md-5">
            <textarea class="form-control" rows=20 id="NN_textarea" placeholder="Enter your text here..."></textarea>
        </div>
        <div class="col-md-5">
            <div class="form-control h-100"  placeholder="Results will appear here." id="NN_result_div">
            </div>
        </div>
    </div>
{% endblock content %}


{% block javascript %}
    {{ block.super }}
    <script>


    $(window).on('load', (e) => {
        e.preventDefault()
        $.ajax({
            url:"{% url 'change_model_status_js' %}",
            type: 'POST',
            data: { status: 'BUSY' },
            dataType: 'json',
            success: (data) => {
                console.log('reserved model')
                console.log(data['status'])

                setInterval(() => {
                    $.ajax({
                        url:"{% url 'ajax_playground' %}",
                        type: 'POST',
                        data: { text: $("#NN_textarea").val() },
                        dataType: 'json',
                        success: (data) => {
                            console.log(data)
                            document.getElementById('NN_result_div').innerHTML = data['html'];
                            }
                        })
                    }, 1000)
            }
        })
    })

    $(window).on('beforeunload', (e) => {
        e.preventDefault()
        console.log('exiting')
        $.ajax({
            url:"{% url 'change_model_status_js' %}",
            type: 'POST',
            data: { status: 'FREE' },
            dataType: 'json',
            success: (data) => {
                console.log('unreserved model')
                console.log(data['status'])
            }
        })
    })

    function text_example_js(e) {
        e.preventDefault()
        button_id = e.srcElement.id
        $.ajax({
            url:"{% url 'text_example_js' %}",
            type: 'POST',
            data: { button_id: button_id },
            dataType: 'json',
            success: (data) => {
                textarea = document.getElementById("NN_textarea")
                textarea.value = ''
                textarea.value = data['example_text']
                }
        })}

    example_1_btn = document.getElementById('example-1').addEventListener('click', text_example_js)
    example_2_btn = document.getElementById('example-2').addEventListener('click', text_example_js)
    example_3_btn = document.getElementById('example-3').addEventListener('click', text_example_js)

        
    </script>
{% endblock javascript %}
