{% extends 'base.html' %}

{% block content %}
    <textarea id="NN_textarea" placeholder="Enter your text here..."></textarea>
    <div id="NN_result_div">
        Results will appear here.
    </div>
{% endblock content %}


{% block javascript %}
    <script>


    $(window).on('load', (e) => {
        e.preventDefault()
        $.ajax({
            url:"{% url 'change_model_status_js' %}",
            type: 'POST',
            data: { status: 'BUSY' },
            dataType: 'json',
            success: (data) => {
                console.log('reserved model')
                console.log(data['status'])

                setInterval(() => {
                    $.ajax({
                        url:"{% url 'playground' %}",
                        type: 'POST',
                        data: { text: $("#NN_textarea").val() },
                        dataType: 'json',
                        success: (data) => {
                            console.log(data)
                            document.getElementById('NN_result_div').innerHTML = data['html'];
                            }
                        })
                    }, 2000)
            }
        })
    })

    $(window).on('unload', (e) => {
        e.preventDefault()
        $.ajax({
            url:"{% url 'change_model_status_js' %}",
            type: 'POST',
            data: { status: 'FREE' },
            dataType: 'json',
            success: (data) => {
                console.log('unreserved model')
                console.log(data['status'])
            }
        })
    })


        
    </script>
{% endblock javascript %}
