{% extends 'base.html' %}



{% block content %}
    <h2 class='text-center mb-4'>REQUEST INFO</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">

                    <div class="card border-light  bg-light shadow ml-2 mr-2 mt-3 mb-5">
                        <div class="card-header">
                            <h5>{{req.keyword}}</h5>
                        </div>
                        <div class="card-body d-flex-row">
                            <div class="card-text d-flex justify-content-between">
                                <p>Start date:</p>
                                <p>{{req.search_start_date}}</p>
                            </div>
                            <div class="card-text d-flex justify-content-between">
                                <p>Periods:</p>
                                <p>{{req.periods}}</p>
                            </div>
                            <div class="card-text d-flex justify-content-between">
                                <p>Periodicity:</p>
                                <p>{{req.periodicity}}</p>
                            </div>
                            <div class="card-text d-flex justify-content-between">
                                <p>Results Pages:</p>
                                <p>{{req.google_results_pages}}</p>
                            </div>
                            <div class="card-text d-flex justify-content-between">
                                <p>Status:</p>
                                <p>{{req.status}}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'request_delete' pk=req.id %}" class="btn btn-danger btn-block">
                                Delete
                            </a>
                        </div>
                    </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div id='request-articles-div' class='container-fluid'>
                    <div class="row d-inline-flex">

                        {% for i in range %}
                            <div class="container mt-3 request-article-div" id='request-article-div-{{i}}' hidden>
                                <ul class="list-group">
                                    <li class="list-group-item shadow">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p class="float-left"><span id="request-article-date-{{i}}"></span> | <span id="request-article-link-{{i}}"></span></p>
                                                <p id="request-article-status-{{i}}"></p>
                                            </div>
                                            <div class="col-md-9">
                                                <h6 id="request-article-title-{{i}}"></h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>  

{% endblock content %}


{% block javascript %}
    {{ block.super }}   
    <script>

    function refresh_request_status(){
        console.log('refresh_request_status activated')
        $.ajax({
            url:"{% url 'refresh_request_status' %}",
            type: 'POST',
            data: { request_pk: "{{req.pk}}"},
            dataType: 'json',
            success: (data) => {
                let statuses = data['statuses']

                let request_article_status;
                for (i=0;i<statuses.length; i++){
                    request_article_status_span = document.getElementById(`request-article-status-${i}`)
                    request_article_status = request_article_status_span.innerHTML
                    if (statuses[i] != request_article_status){
                        console.log(statuses[i])
                        console.log(request_article_status)
                        load_request_article_content(i)
                        }            
                
                }
            }
        })
    }


    function load_request_article_content(article_index){
        console.log('load_request_article_content activated')
        $.ajax({
            url:"{% url 'load_request_article_content' %}",
            type: 'POST',
            data: { article_index: article_index,
                    request_pk: "{{req.pk}}"},
            dataType: 'json',
            success: (data) => {
                let article_index = data.article_index;
                let article = data.article;
                request_article_div = document.getElementById(`request-article-div-${article_index}`);

                title_elem = document.getElementById(`request-article-title-${article_index}`);
                title_elem.innerHTML = `<a href="/analysis/article/${article.id}">${article.title}</a>`;

                date_elem = document.getElementById(`request-article-date-${article_index}`);
                date_elem.innerHTML = `${article.date}`;

                link_elem = document.getElementById(`request-article-link-${article_index}`);
                link_elem.innerHTML = `<a href="${article.link}">Link</a>`;

                status_elem = document.getElementById(`request-article-status-${article_index}`);
                status_elem.innerHTML = `${article.status}`;

                
                try{
                    request_article_div.removeAttribute("hidden");
                    }
                catch{}
            }
        })
    }


    function request_load_initial_content(){
        console.log('request_load_initial_content activated')
        $.ajax({
            url:"{% url 'request_load_initial_content' %}",
            type: 'POST',
            data: { request_pk: "{{req.pk}}"},
            dataType: 'json',
            success: (articles_len) => {
                
                for (i=0; i<articles_len['articles_len']; i++) {
                    load_request_article_content(i)
                }
            }        
        })
    }


    $(document).ready(
        $(window).on("load", (e)=>{
            e.preventDefault();
            request_load_initial_content();
            setInterval(refresh_request_status, 2000);
        })
    )
    </script>
{% endblock javascript %}
