{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2 class='text-center mb-4'>NEW REQUEST</h2>
<div class="justify-content-center d-flex">
  <div class="col-md-12 col-sm-10 col-md-8 col-lg-6">

      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success btn-block mt-4">Submit request</button>
      </form>
  </div>
</div>
{% endblock content %}


{% block javascript %}
  {{ block.super }}
{% endblock javascript %}
