{% extends 'base.html' %}



{% block content %}

    <p>{{req.keyword}}</p>
    <p>{{req.search_start_date}}</p>
    <p>{{req.periods}}</p>
    <p>{{req.periodicity}}</p>
    <p>{{req.google_results_pages}}</p>
    <p>{{req.status}}</p>

    <div id='request_articles_div' class='container-fluid'>
        <div class="row d-inline-flex">
            {% for i in range %}
                <div class='col-6 col-sm-4 col-md-3 col-lg-2 p-2 mb-4 request_article_div' id='request_article_div_{{i}}' hidden>
                    {% include 'snippets/article_snippet.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block javascript %}
    <script>
    function refresh_request_status(){
        console.log('refresh_request_status activated')
        $.ajax({
            url:"{% url 'refresh_request_status' %}",
            type: 'POST',
            data: { pk: "{{req.pk}}"},
            dataType: 'json',
            success: (statuses) => {
                let request_article_div;
                let request_article_status;
                for (i=0;i<statuses['statuses'].length; i++){
                    request_article_div = document.getElementById(`request_article_div_${i}`);
                    request_article_status = request_article_div.getElementsByClassName('request_article_status').value;
                    
                    if (statuses[i] != request_article_status){
                        load_article_content(i)
                        }            
                
                }
            }
        })
    }


    function load_article_content(article_index){
        console.log('load_article_content activated')
        $.ajax({
            url:"{% url 'load_article_content' %}",
            type: 'POST',
            data: { article_index: article_index,
                    request_pk: "{{req.pk}}"},
            dataType: 'json',
            success: (data) => {
                let article_index = data.article_index;
                let article = data.article;
                request_article_div = document.getElementById(`request_article_div_${article_index}`);

                title_elem = request_article_div.getElementsByClassName('request_article_title')[0];
                title_elem.innerHTML = `<a href="/analysis/article/${article.id}">${article.title}</a>`;

                date_elem = request_article_div.getElementsByClassName('request_article_date')[0];
                date_elem.innerHTML = `${article.date}`;

                link_elem = request_article_div.getElementsByClassName('request_article_link')[0];
                link_elem.innerHTML = `<a href="${article.link}">Link</a>`;

                status_elem = request_article_div.getElementsByClassName('request_article_status')[0];
                status_elem.innerHTML = `Status: ${article.status}`;
                
                try{
                    request_article_div.removeAttribute("hidden");
                    }
                catch{}
            }
        })
    }


    function load_initial_content(){
        console.log('load_initial_content activated')
        $.ajax({
            url:"{% url 'load_initial_content' %}",
            type: 'POST',
            data: { pk: "{{req.pk}}"},
            dataType: 'json',
            success: (articles_len) => {
                
                for (i=0; i<articles_len['articles_len']; i++) {
                    load_article_content(i)
                }
            }        
        })
    }


    $(document).ready(
        $(window).on("load", (e)=>{
            e.preventDefault();
            load_initial_content();
            setInterval(refresh_request_status, 5000);
        })
    )
    </script>
{% endblock javascript %}
